apiVersion: v1
kind: Secret
metadata:
  name: jsc-opencode-web-secret
  namespace: opencode-ns
type: Opaque
stringData:
  OPENCODE_SERVER_PASSWORD: your_password_here
  OPENCODE_SERVER_USERNAME: opencode
  GITHUB_PERSONAL_ACCESS_TOKEN: your_token_here
